# Before adding to this file please consider
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

/dist
/venv
/regression-tests
**/*.pyc
**/*.pyo
**/*.svd.patched
.pytest_cache
