[package]
name = "svdtools"
version = "0.2.3"
repository = "https://github.com/stm32-rs/svdtools"
description = "Tool for modifying bugs in CMSIS SVD"
authors = [
    "Andrey Zgarbul <zgarbul.andrey@gmail.com>",
    "MarcoIeni"
]
categories = [
    "command-line-utilities",
    "embedded",
    "hardware-support",
    "no-std",
]
keywords = [
    "svd",
    "embedded",
    "register",
]
license = "MIT OR Apache-2.0"
readme = "README.md"
include = ["/res", "/src", "/tests", "CHANGELOG-rust.md", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
edition = "2021"

[dependencies]
clap = { version = "3.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
quick-xml = { version = "0.18", features = ["serialize"] }
svd-rs = { version = "0.13.2", features = ["serde", "derive-from"]  }
svd-parser = { version = "0.13.2", features = ["expand"] }
svd-encoder = "0.13.1"
yaml-rust = "0.4"
serde_yaml = "0.8.23"
serde_json = { version = "1.0", features = ["preserve_order"] }
anyhow = "1.0.43"
thiserror = "1.0.30"
linked-hash-map = "0.5"
globset = "0.4.8"
commands = "0.0.5"
env_logger = "0.9"
log = { version = "~0.4", features = ["std"] }

[dev-dependencies]
tempfile = "3.1"
