name: CI

on:
  push:
    branches: [ staging, trying, master ]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install svdtools
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt
          pip install .
      - name: Check
        run: |
          black --check svdtools
          isort --check-only svdtools
      - name: Test
        run: pytest svdtools
  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - esp32
          - esp8266
          - stm32
          - lpc55
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt
      - name: Install xmllint
        run: sudo apt-get install libxml2-utils
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install svdtools
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Check
        run: bash tools/check_${{ matrix.target }}.sh
